<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>subsequent-turtle</title>
  <link rel="stylesheet" href="./styles.css">
</head>
<body>
  <h1>subsequent-turtle todo list</h1>
  <form action="/todoList" method="POST">
  <input type="text" placeholder="Enter Task" name="task">
  <button type="submit">Submit</button>
  </form>
  <br/>
  <div class="todoCollection">
    <% for(var index=0; index<task.length; index++) {%>
      <div class="todo">
        <div>
          <input type='checkbox' id="check<%= index %>"></input>
          <div id="taskSubmission<%= index %>" style= "display: inline-block"  contentEditable="false" action="rewrite" method="PUT">
            <button id="edit<%= index %>" onclick="renderItem(<%= index %>)" >edit</button>

            <% if (task[index].status == 'completed') { %>
              <span class='completed'><%= task[index].task %></span>
            <% } else { %>
              <span><%= task[index].task %></span>
            <% } %>
          </div>
        </div>
      </div>
    <% } %>
  </div>
  <br/>
  <button id='complete' onclick="renderItem(<%= index %>)">mark as complete</button><button id='delete'>delete</button>
  <script src="main.js"></script>

</body>
</html>
